Ficheiro para ler csv de forma a testar o TOPSIS, pois a classe TOPSIS ir√° receber um dataframe.

In [1]:
import pandas as pd

# Read the dataset
mydata = pd.read_csv('TOPSIS_project_without_survival.csv', sep=';', skip_blank_lines=True)
mydata['Donor_id'] = mydata['Donor_id'].astype('string')
mydata

,Donor_id,HLA Match,CMV Serostatus\t,Donor Age Group,Gender Match,ABO Match
0,IDO01,7,0,0,0,0
1,IDO02,8,1,1,1,1
2,IDO03,9,2,2,0,0
3,IDO04,7,3,0,1,0
4,IDO05,10,0,2,0,1
5,IDO06,10,3,0,1,0
6,IDO07,8,0,1,1,0
7,IDO08,9,1,0,0,1
8,IDO09,7,2,2,1,0
9,IDO10,10,0,1,0,1
10,IDO11,9,3,0,1,1
11,IDO12,8,1,2,0,0
12,IDO13,10,2,0,1,1
13,IDO14,7,0,1,0,0
14,IDO15,9,1,1,1,0
15,IDO16,8,3,2,0,1
16,IDO17,10,0,0,1,0
17,IDO18,7,2,1,0,1
18,IDO19,9,0,2,1,1
19,IDO20,8,1,0,0,0
20,IDO21,10,3,1,1,1
21,IDO22,7,1,2,0,0
22,IDO23,9,2,0,1,0
23,IDO24,8,0,1,1,1
24,IDO25,10,1,2,0,1