---
# *Multi-criteria decision making (MCDM) using Topsis**
Usei um dataset do site: https://pt.scribd.com/document/719692081/TOPSIS-Exercise, de forma a comparar os resultados
---

In [ ]:
# 1.1 Installing topsis pelo terminal
#pip install pymcdm

In [8]:
# 1.2 Imports
import pandas as pd
from pymcdm.methods import TOPSIS

In [10]:
# 1.3 Read the dataset
mydata=pd.read_csv('selectCompanyForWorking.csv')
mydata

  Company  Income  Benefits  TeachingHours  Paperwork
0      IU       9         8              7           7
1     UEH       8         8              8           8
2     UFM       7         9              8           7
3    TDMU       7         7              7           9
4     FTU       8         7              8           9

In [11]:
# 1.4 Convert the dataset to Matrix
# Drop the first column and convert to NumPy array
d = mydata.iloc[:, 1:].values
d

array([[9, 8, 7, 7],
       [8, 8, 8, 8],
       [7, 9, 8, 7],
       [7, 7, 7, 9],
       [8, 7, 8, 9]])

In [12]:
# 1.5 Assigning the impacts
# 1 for maximization and -1 for minimization
# Maximize: Income, Benefits
# Minimize: Teaching Hours, Paperwork

i = [1, 1, -1, -1]
i

[1, 1, -1, -1]

In [13]:
# 1.6 Assigning the weights
# Income=0.3
# Benefits=0.25
# Teaching Hours=0.3
# Paperwork=0.15
w = [0.3, 0.25, 0.3, 0.15]
w

[0.3, 0.25, 0.3, 0.15]

In [14]:
# 1.7 Calling the topsis function
# scores = topsis(
#     data,        # matriz de decisão (alternativas × critérios)
#     weights,     # pesos dos critérios
#     impacts      # impactos: '1' ou '-1'
# )

topsis = TOPSIS()
resultados = topsis(d, w, i)
resultados

array([0.7888651 , 0.36383896, 0.40729651, 0.41763534, 0.25235119])

In [ ]:
#1.8 Cria tabela final

# Get the first column
primeira_coluna = mydata.iloc[:, 0]  # Keep as Series

# Convert results to Series
resultados_series = pd.Series(resultados, name='TOPSIS_Score')

# Concatenate along columns
df = pd.concat([primeira_coluna, resultados_series], axis=1)
df

  Company  TOPSIS_Score
0      IU      0.788865
1     UEH      0.363839
2     UFM      0.407297
3    TDMU      0.417635
4     FTU      0.252351